<div class="row">
        <div class="col-md-3 border p-2">
            <a href="good.html"><img src="img/cap1.jpg" alt="good_1" class="img-responsive"></a>
        </div>
        <div class="col-md-6 border p-2">
            <div class="row">
                <div class="col-12 order-md-first">@@include('modules/good_tab.html')</div>
            </div>
        </div>
        <div class="col-md-3 border good_count p-2">

            <div>
                <div class="number col-8 col-md-auto text-center">
                    <div class="h3 d-block">Количество:</div>
                    <div class="minus basic_color unselectable">-</div>
                    <input type="text" id="number-input"
                           class="button-border py-2 button-shadow text-center fwb opensans" value="1"/>
                    <div class="plus basic_color unselectable">+</div>
                </div>
                <div class="number col-auto">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="uftype" checked id="uftype" class="custom-control-input">
                        <label for="uftype" class="custom-control-label"></label>
                    </div>
                    <div>Уф-печать: </div>
                </div>
                <div class="number col-auto">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="uftype" checked id="uftype" class="custom-control-input">
                        <label for="uftype" class="custom-control-label"></label>
                    </div>
                    <div>тампопечать: </div>
                </div>
            </div>
            <a href="#" class="d-block mb-3 complex-blue-button mt-3">Обновить</a>
            <a href="#" class="d-block complex-white-button">Удалить</a>
            <div class="pale_bg py-3 text-center fwb my-4">
                <span class="another_blue">Цена:</span><span class="fwb"> 450 руб.</span>
            </div>

        </div>
    </div>
