<div class="shopping__cart button-white button-shadow">
    <div class="row">
        <div class="col-5 shopping__cart-img">
            <a href="#"><img src="img/cart_good.png" alt="товар в корзине"></a>
        </div>
        <div class="col-7 shopping__cart-desc opensans fz14 text-left content_color">
            <div class="shopping__cart-name mb-2">Футболка TShirt</div>
            <div class="shopping__cart-char">
                <div>Цвет: белый</div>
                <div>Размер: 38</div>
                <div>Плотность: 160 г/м</div>
                <div class="text-right another_blue fwb">450 руб.</div>
            </div>

        </div>
        <div class="shopping__cart-order col-12 row no-gutters mt-5 justify-content-between">
            <div class="col-auto fz14">
                <a href="cart.html" class="tdu fw400">Корзина</a>
            </div>
            <div class="col-auto fz14">
                <a href="order.html" class="complex-blue-button mini">Офоормить заказ</a>
            </div>
        </div>
    </div>
</div>