<div class="col-12 catalog_list">
    <div class="row no-gutters">
        <div class="col-12 col-md-6 col-xl-4 px-2 item mb-3">
            <div class="col-12 black_shadow pb-3">
                <a href="good.html" class="d-block tac my-4 ">
                    <img class="d-inline-block img-responsive" src="img/cap1.jpg" alt="photo">
                </a>
                <div class="item_text mb-4 ">
                    <div class="item_head ttu fwb underline half_line">Бейсболка летняя текстиль</div>
                </div>
                <div class="catalog_dot my-3 ">
                    <div class="dots active black"></div>
                    <div class="dots green"></div>
                    <div class="dots active red"></div>
                    <div class="dots blue"></div>
                </div>
                <div class="table_wrapper">
                    <table class="table_2col table_catalog">
                        <tr>
                            <td>Параметр 1</td>
                            <td>Значение 1</td>
                        </tr>
                        <tr>
                            <td>Параметр 2</td>
                            <td>Значение 2</td>
                        </tr>
                        <tr>
                            <td>Параметр 3</td>
                            <td>Значение 3</td>
                        </tr>
                    </table>
                </div>
                <div class="row no-gutters justify-content-between align-items-center  mt-3">
                    <a class="complex-white-button col-7" href="/">В корзину</a>
                    <div class="col-auto opensans price">450 руб.</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4 px-2 item mb-3">
            <div class="col-12 black_shadow pb-3">
                <a href="good.html" class="d-block tac my-4 ">
                    <img class="d-inline-block img-responsive" src="img/cap1.jpg" alt="photo">
                </a>
                <div class="item_text mb-4 ">
                    <div class="item_head ttu fwb underline half_line">Бейсболка летняя текстиль</div>
                </div>
                <div class="catalog_dot my-3 ">
                    <div class="dots active black"></div>
                    <div class="dots green"></div>
                    <div class="dots active red"></div>
                    <div class="dots blue"></div>
                </div>
                <div class="table_wrapper">
                    <table class="table_2col table_catalog">
                        <tr>
                            <td>Параметр 1</td>
                            <td>Значение 1</td>
                        </tr>
                        <tr>
                            <td>Параметр 2</td>
                            <td>Значение 2</td>
                        </tr>
                        <tr>
                            <td>Параметр 3</td>
                            <td>Значение 3</td>
                        </tr>
                    </table>
                </div>
                <div class="row no-gutters justify-content-between align-items-center  mt-3">
                    <a class="complex-white-button col-7" href="/">В корзину</a>
                    <div class="col-auto opensans price">450 руб.</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4 px-2 item mb-3">
            <div class="col-12 black_shadow pb-3">
                <a href="good.html" class="d-block tac my-4 ">
                    <img class="d-inline-block img-responsive" src="img/cap1.jpg" alt="photo">
                </a>
                <div class="item_text mb-4 ">
                    <div class="item_head ttu fwb underline half_line">Бейсболка летняя текстиль</div>
                </div>
                <div class="catalog_dot my-3 ">
                    <div class="dots active black"></div>
                    <div class="dots green"></div>
                    <div class="dots active red"></div>
                    <div class="dots blue"></div>
                </div>
                <div class="table_wrapper">
                    <table class="table_2col table_catalog">
                        <tr>
                            <td>Параметр 1</td>
                            <td>Значение 1</td>
                        </tr>
                        <tr>
                            <td>Параметр 2</td>
                            <td>Значение 2</td>
                        </tr>
                        <tr>
                            <td>Параметр 3</td>
                            <td>Значение 3</td>
                        </tr>
                    </table>
                </div>
                <div class="row no-gutters justify-content-between align-items-center  mt-3">
                    <a class="complex-white-button col-7" href="/">В корзину</a>
                    <div class="col-auto opensans price">450 руб.</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4 px-2 item mb-3">
            <div class="col-12 black_shadow pb-3">
                <a href="good.html" class="d-block tac my-4 ">
                    <img class="d-inline-block img-responsive" src="img/cap1.jpg" alt="photo">
                </a>
                <div class="item_text mb-4 ">
                    <div class="item_head ttu fwb underline half_line">Бейсболка летняя текстиль</div>
                </div>
                <div class="catalog_dot my-3 ">
                    <div class="dots active black"></div>
                    <div class="dots green"></div>
                    <div class="dots active red"></div>
                    <div class="dots blue"></div>
                </div>
                <div class="table_wrapper">
                    <table class="table_2col table_catalog">
                        <tr>
                            <td>Параметр 1</td>
                            <td>Значение 1</td>
                        </tr>
                        <tr>
                            <td>Параметр 2</td>
                            <td>Значение 2</td>
                        </tr>
                        <tr>
                            <td>Параметр 3</td>
                            <td>Значение 3</td>
                        </tr>
                    </table>
                </div>
                <div class="row no-gutters justify-content-between align-items-center  mt-3">
                    <a class="complex-white-button col-7" href="/">В корзину</a>
                    <div class="col-auto opensans price">450 руб.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 text-center mt-3 mb-5">
    <div class="fz14 opensans">Показано 9 товаров из 400</div>
    <div class="underline ta-center underline-bottom-20 mt-2">
        <a href="#"><i class="fas fa-redo-alt button-shadow p-2 mr-2 button-border"></i> Загрузить еще</a>
    </div>
</div>