<div class="col-12 catalog_list">
    <div class="row">
        <div class="col-12 col-md-4 item pb-3 mb-3">
            <div class="border p-4">
                <a href="/" class="d-block tac my-4">
                    <img class="d-inline-block img-responsive" src="/img/cap1.jpg" alt="photo">
                </a>
                <div class="item_text mb-4">
                    <div class="item_head ttu fwb">TouchWriter</div>
                    <div class="item_desc underline half_line">Здесь может быть разной длины текст и название, но главное, чтобы фото приводились к определенному значению. Можно сделать так, чтобы не вылезали, но это ни к чему хорошему не приведет</div>
                </div>
                <div class="row no-gutters justify-content-between align-items-center">
                    <a class="button-white col-7 button-after text_gradient hover-tdn" href="/">В корзину</a>
                    <div class="col-auto opensans price">450 руб.</div>
                </div>
            </div>
        </div>
    </div>
</div>
