<form action="/" method="get" class="filters__form col-12">
    <div class="row">
        <div class="col-12 filters__form-inner position-relative">
            <div class="filters__form-button">
                Фильтр <i class="fas fa-angle-up ml-2"></i>
            </div>
            <div class="row bg-gray filters__form-select pb-2 pt-0 py-md-2 another_blue fz14 no-gutters">
                <div class="col text-right py-2 py-md-0 order-md-last filters__form-reset">
                    <button type="reset"><i class="fas fa-times-circle"></i> Сбросить</button>
                </div>
                <div class="col-md-auto ml-md-3 filters__form-modification mb-3 mb-md-0 mt-1 mt-md-0">
                    <label for="filter_material" class="filters__form-select-label pl-3 pl-md-0 mb-0">Материал <i
                            class="fas fa-angle-down"></i>
                    </label>
                    <select name="filter_material" id="filter_material">
                        <option value="wood">Дерево</option>
                        <option value="wool">Шерсть</option>
                        <option value="silk">Шелк</option>
                    </select>
                </div>
                <div class="col-md-auto ml-md-3 filters__form-modification mb-3 mb-md-0">
                    <label for="filter_color" class="filters__form-select-label pl-3 pl-md-0 mb-0">Цвет <i
                            class="fas fa-angle-down"></i></label>
                    <select name="filter_color" id="filter_color">
                        <option value="white">Белый</option>
                        <option value="green">Зеленый</option>
                        <option value="black">Черный</option>
                    </select>
                </div>
                <div class="col-md-auto ml-md-3 filters__form-modification mb-3 mb-md-0">
                    <label for="filter_brend" class="filters__form-select-label pl-3 pl-md-0 mb-0">Бренд <i
                            class="fas fa-angle-down"></i></label>
                    <select name="filter_brend" id="filter_brend">
                        <option value="soils">Soils</option>
                        <option value="nike">Nike</option>
                        <option value="some">Some long long word</option>
                    </select>
                </div>
                <div class="col-xl-7 mt-md-2 mt-xl-0  ml-md-3 filters__slider-wrap filters__form-modification mb-3 mb-md-0" id="slidecontainer">
                    <div class="row px-3">
                        <div class="col-md-5 col-lg-6 mb-3">
                            <!--в data-min/max надо положить range цены, JS возьмет их отсюда -->
                            <div class="filters__slider" data-min="14" data-max="458"></div>
                        </div>
                        <div class="col-md-7 col-lg-6">
                            от <input type="text" class="fwb tac filters__slider-min d-inline-block mx-2" value=""/>
                             до <input type="text" class="fwb tac filters__slider-max d-inline-block mx-2" value=""/> руб.
                        </div>
                    </div>
                </div>
                <div class="w-100 mb-md-2"></div>
                <div class="custom-control good_tags col-12 col-md-auto pl-4 custom-checkbox ml-3">
                    <input type="checkbox" name="checkbox-news" id="checkbox-news" class="custom-control-input">
                    <label for="checkbox-news" class="custom-control-label">Новинки</label>
                </div>
                <div class="custom-control good_tags col-12 col-md-auto pl-4 custom-checkbox ml-3">
                    <input type="checkbox" name="checkbox-sale" id="checkbox-sale" class="custom-control-input">
                    <label for="checkbox-sale" class="custom-control-label">Sale</label>
                </div>
                <div class="custom-control good_tags col-12 col-md-auto pl-4 custom-checkbox ml-3">
                    <input type="checkbox" name="checkbox-event" id="checkbox-event" class="custom-control-input">
                    <label for="checkbox-event" class="custom-control-label">8 марта</label>
                </div>
            </div>
        </div>
        <div class="col-12 order-md-first filters__form-sort py-2">
            <div class="position-relative d-inline-block ">
                <label for="filter_price" class="filters__form-select-label mb-0">
                    Сортировать: <span class="another_blue">по цене </span><i class="fas fa-angle-down another_blue ml-1"></i>
                </label>
                <select name="filter_price" id="filter_price">
                    <option value="white">Цена по возрастанию</option>
                    <option value="green">Цена по убыванию</option>
                </select>
            </div>
        </div>
        <div class="col-12 py-2 fz14 filters__form-available">
            <div class="d-inline-block mr-2 mb-2">
                <span class="pale_bg py-1 px-2 d-inline-block">Наличие (<span class="fwb">на складе</span>)</span>
                <a href="#" class="pale_bg filters__form-available-button "><i class="fas fa-times-circle"></i></a>
            </div>
        </div>
    </div>
</form>
