<div class="good_count">
    <form class="form-row good_form" action="/" method="post">
        <div class="col-12">
            <div class="row align-items-center justify-content-between no-gutters mt-3">
                <div class="number col-8 col-md-auto">
                    <div class="h3">Тираж: </div>
                    <div class="minus basic_color unselectable">-</div>
                    <input type="text" id="number-input" class="button-border py-2 button-shadow text-center fwb opensans" value="1"/>
                    <div class="plus basic_color unselectable">+</div>
                </div>
                <div class="col-4 col-md-auto text-center">
                    <div class="fz18">Итого:</div>
                    <div class="good_count-num pale_bg button content_color opensans">3700.12</div>
                </div>
                <div class="w-100"></div>
                <div class="col-12 mt-5">
                    <div class="fwb fz18">Добавить нанесение</div>
                    <div class="little_remark">Окончательная стоимость нанесения определяется  менеджером</div>
                </div>
                <div class="number col-auto">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="tampopechat" id="tampopechat" class="custom-control-input">
                        <label for="tampopechat" class="custom-control-label"></label>
                    </div>
                    <div>Тампопечать: </div>
                    <div class="minus basic_color unselectable">-</div>
                    <input type="text" id="number-input1" class="button-border py-2 button-shadow text-center fwb opensans" value="1"/>
                    <div class="plus basic_color unselectable">+</div>
                </div>
                <div class="col-12 mb-3 mb-md-0 col-md-auto">
                    <div class="good_count good_count-prices opensans">680 руб.</div>
                </div>
                <div class="w-100"></div>
                <div class="number col-auto">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="ufpodlojka" id="ufpodlojka" class="custom-control-input">
                        <label for="ufpodlojka" class="custom-control-label"></label>
                    </div>
                    <div>Уф-подложка: </div>
                </div>
                <div class="col-12 mb-3 mb-md-0 col-md-auto">
                    <div class="good_count good_count-prices opensans">450.12</div>
                </div>
                <div class="w-100"></div>
                <div class="number col-auto">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="uftype" id="uftype" class="custom-control-input">
                        <label for="uftype" class="custom-control-label"></label>
                    </div>
                    <div>Уф-печать: </div>
                </div>
                <div class="col-12 mb-3 mb-md-0 col-md-auto">
                    <div class="good_count good_count-prices opensans">50</div>
                </div>
                <div class="w-100"></div>
                <div class="col-12 my-3">
                    <div class="row justify-content-end">
                        <div class="col-12 col-md-auto">
                            <div class="pale_bg button">
                                <div class="text-center fz18 content_color">Итого:</div>
                                <div class="good_count-total button button-shadow content_color opensans">6800.12</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 my-3">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <button type="submit" name="order" class="w100p complex-blue-button order-md-first mb-3">Положить в корзину</button>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="complex-white-button" data-event="fancy" data-name="zakaz">Заказать образец</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
