<div class="good_slider">
    <div class="wrap">
        <div class="good_heart"><a href="/" class="d-block"><i class="fas fa-heart red"></i></a></div>
        <div class="good_slider-main p-5 block-shadow mb-3 ">
            <a href="img/cap1.jpg" data-fancybox="group" class="fancybox"><img src="img/cap1.jpg" class="img-responsive" alt="photo1"></a>
            <a href="img/cap2.jpg" data-fancybox="group" class="fancybox"><img src="img/cap2.jpg" class="img-responsive" alt="photo2"></a>
            <a href="img/cap3.jpg" data-fancybox="group" class="fancybox"><img src="img/cap3.jpg" class="img-responsive" alt="photo3"></a>
            <a href="img/cap4.jpg" data-fancybox="group" class="fancybox"><img src="img/cap4.jpg" class="img-responsive" alt="photo4"></a>
            <a href="img/cap5.jpg" data-fancybox="group" class="fancybox"><img src="img/cap5.jpg" class="img-responsive" alt="photo5"></a>
        </div>
    </div>
    <div class="good_slider-nav">
        <img src="img/cap1.jpg" alt="photos1">
        <img src="img/cap2.jpg" alt="photos2">
        <img src="img/cap3.jpg" alt="photos3">
        <img src="img/cap4.jpg" alt="photos4">
        <img src="img/cap5.jpg" alt="photos5">
    </div>
</div>