<!--<div class="info">-->
    <!--<ul class="tabset">-->
        <!--<li class="active">Описание</li>-->
        <!--<li class="">Технические характеристики</li>-->
    <!--</ul>-->
    <!--<div class="tab active" id="tab1">-->
        <!--<noindex>-->
            <!--<div class="info-text">-->
                <!--<p class="h3_title">Бренд:</p>-->
                <!--<p>Young Chang Pro (YC PRO)</p>-->

                <!--<p class="h3_title">Особенности и преимущества</p>-->

                <!--<ul class="list">-->
                    <!--<li>Для обогрева кровли и водостоков;</li>-->
                    <!--<li>Автоматическое регулирование тепловыделения;</li>-->
                    <!--<li>Не боится перегрева и самопересечения;</li>-->
                    <!--<li>Отрезается любой длинны без потери мощности тепловыделения;</li>-->
                    <!--<li>Профессиональная серия YC PRO нагревательных кабелей, от Young Cheng Silicone ведущего производителя в Южной Корее;</li>-->
                    <!--<li>Сертификат взрывозащиты (Ex);</li>-->
                    <!--<li>Устойчив к воздействию ультрафиолета;</li>-->
                    <!--<li>Простая и быстрая установка, не требующая специальных знаний и инструментов;</li>-->
                    <!--<li>Гарантия 5 лет.</li>-->

                <!--</ul>-->
            <!--</div>-->
        <!--</noindex>	</div>-->
    <!--<div class="tab" id="tab2">-->
        <!--<noindex><div class="info-text">-->
            <!--<p class="h3_title">Мощность тепловыделения (Вт/м):</p>-->
            <!--<p>16</p>-->
            <!--<p class="h3_title">Максимальная температура нагрева:</p>-->
            <!--<p>65°C</p>-->
            <!--<p class="h3_title">Максимально допустимая температура без нагрузки:</p>-->
            <!--<p>85°C</p>-->
            <!--<p class="h3_title">Минимальная температура монтажа:</p>-->
            <!--<p>-30°C</p>-->

            <!--<p class="h3_title">Электропитание:</p>-->
            <!--<p>220–240В (110–120В под заказ)</p>-->

            <!--<p class="h3_title">Максимальное сопротивление защитной оплетки:</p>-->
            <!--<p>18,2 Ом/км</p>-->

            <!--<p class="h3_title">Температурная группа:</p>-->
            <!--<p>T6</p>-->

            <!--<p class="h3_title">Маркировка взрывозащиты:</p>-->
            <!--<p>2 Ex e IIA, IIB, IIC T6</p>-->

            <!--<p class="h3_title">Степень защиты:</p>-->
            <!--<p>IP66</p>-->

            <!--<p class="h3_title">Упаковка:</p>-->
            <!--<p>250м/400м (Катушка), 100м (Рулон)-->
            <!--</p>-->

        <!--</div></noindex>	</div>-->
<!--</div>-->