<div class="good_tabs">
    <ul class="tabset row no-gutters">
        <li class="active col-4 text-center gradient"><span>Описание</span></li>
        <li class="col-4 text-center"><span>Конструктор нанесения</span></li>
        <li class="col-4 text-center"><span>Транспортная упаковка</span></li>
    </ul>
    <div class="tab active">
        <div class="info-text">
            <div class="table_wrapper">
                <table class="table_2col table_zebra">
                    <tr>
                        <td>Параметр 1</td>
                        <td>Значение 1</td>
                    </tr>
                    <tr>
                        <td>Параметр 2</td>
                        <td>Значение 2</td>
                    </tr>
                    <tr>
                        <td>Параметр 3</td>
                        <td>Значение 3</td>
                    </tr>
                    <tr>
                        <td>Параметр 4</td>
                        <td>Значение 4</td>
                    </tr>
                    <tr>
                        <td>Доступные цвета:</td>
                        <td>
                            <div class="dots active black"></div>
                            <div class="dots green"></div>
                            <div class="dots active red"></div>
                            <div class="dots blue"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="tab">
        <div class="info-text">
            <p class="h3_title">Мощность тепловыделения (Вт/м):</p>
            <p>16</p>
            <p class="h3_title">Максимальная температура нагрева:</p>
            <p>65°C</p>
            <p class="h3_title">Максимально допустимая температура без нагрузки:</p>
            <p>85°C</p>
            <p class="h3_title">Минимальная температура монтажа:</p>
            <p>-30°C</p>

            <p class="h3_title">Электропитание:</p>
            <p>220–240В (110–120В под заказ)</p>

            <p class="h3_title">Максимальное сопротивление защитной оплетки:</p>
            <p>18,2 Ом/км</p>

            <p class="h3_title">Температурная группа:</p>
            <p>T6</p>

            <p class="h3_title">Маркировка взрывозащиты:</p>
            <p>2 Ex e IIA, IIB, IIC T6</p>

            <p class="h3_title">Степень защиты:</p>
            <p>IP66</p>

            <p class="h3_title">Упаковка:</p>
            <p>250м/400м (Катушка), 100м (Рулон)
            </p>

        </div>
    </div>
    <div class="tab">
        <div class="info-text">
            <div class="table_wrapper">
                <table class="table_2col table_zebra">
                    <tr>
                        <td>Параметр 1</td>
                        <td>Значение 1</td>
                    </tr>
                    <tr>
                        <td>Параметр 2</td>
                        <td>Значение 2</td>
                    </tr>
                    <tr>
                        <td>Параметр 3</td>
                        <td>Значение 3</td>
                    </tr>
                    <tr>
                        <td>Параметр 4</td>
                        <td>Значение 4</td>
                    </tr>
                    <tr>
                        <td>Параметр 5</td>
                        <td>Значение 5</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


