<div class="similar__block aside__block-news col-12 blue_dots">
    <div class="row">
        <div class="col-12 h3 py-1 underline mb-4 pt-md-4">Похожие товары</div>
    </div>
    <div class="row quarter_slider">
        <div class="col-12 col-md-4 item pb-3 mb-3">
            <div class="border p-4">
                <a href="/" class="d-block tac my-4">
                    <img class="d-inline-block img-responsive" src="img/cap1.jpg" alt="photo">
                </a>
                <div class="item_text mb-4">
                    <div class="item_head ttu fwb">TouchWriter</div>
                    <div class="item_desc underline half_line">Здесь может быть разной длины текст и название, но главное, чтобы фото приводились к определенному значению. Можно сделать так, чтобы не вылезали, но это ни к чему хорошему не приведет</div>
                </div>
                <div class="row no-gutters justify-content-between align-items-center">
                    <a class="col-7 complex-white-button" href="/">В корзину</a>
                    <div class="col-auto opensans price">450 руб.</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 item pb-3 mb-3">
            <div class="border p-4">
                <a href="/" class="d-block tac my-4">
                    <img class="d-inline-block img-responsive" src="img/cap2.jpg" alt="photo">
                </a>
                <div class="item_text mb-4">
                    <div class="item_head ttu fwb">TouchWriter</div>
                    <div class="item_desc underline half_line">Ручка шариковая со стилусом</div>
                </div>
                <div class="row no-gutters justify-content-between align-items-center">
                    <a href="/" class="col-7 complex-white-button">В корзину</a>
                    <div class="col-auto opensans price">450 руб.</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 item pb-3 mb-3">
            <div class="border p-4">
                <a href="/" class="d-block tac my-4">
                    <img class="d-inline-block img-responsive" src="img/cap3.jpg" alt="photo">
                </a>
                <div class="item_text mb-4">
                    <div class="item_head ttu fwb">TouchWriter</div>
                    <div class="item_desc underline half_line">Ручка шариковая со стилусом</div>
                </div>
                <div class="row no-gutters justify-content-between align-items-center">
                <a href="/" class="col-7 complex-white-button">В корзину</a>
                <div class="col-auto opensans price">450 руб.</div>
            </div>
            </div>
        </div>
        <div class="col-12 col-md-4 item pb-3 mb-3">
            <div class="border p-4">
                <a href="/" class="d-block tac my-4">
                    <img class="d-inline-block img-responsive" src="img/cap4.jpg" alt="photo">
                </a>
                <div class="item_text mb-4">
                    <div class="item_head ttu fwb">TouchWriter</div>
                    <div class="item_desc underline half_line">Ручка шариковая со стилусом</div>
                </div>
                <div class="row no-gutters justify-content-between align-items-center">
                    <a href="/" class="col-7 complex-white-button">В корзину</a>
                    <div class="col-auto opensans price">450 руб.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="quarter_slider-buttons text-center my-3">
        <div class="quarter_prev hover-pointer d-inline-block unselectable"><i class="fas fa-angle-left fz30"></i></div>
        <div class="quarter_next hover-pointer d-inline-block ml-4 unselectable"><i class="fas fa-angle-right fz30"></i></div>
    </div>
</div>