<div class="text content">
    <div class="container pt-5">
        <div class="col-12 mb-5">
            <div class="h1 underline underline-bottom-20">Почему рекламная продукция с логотипом компании</div>
        </div>
        <div class="col-12">
            <p>
                Чтобы заказать у нас рекламно-сувенирную продукцию с логотипом свяжитесь с нашими представителями по телефону, либо оформите заявку через онлайн-корзину. Консультанты ответят на ваши вопросы, расскажут о способах оплаты и доставки.

                Следите за нашими акционными предложениями и новыми поступлениями. Помните, что для рекламной продукции на заказ оптом действуют привлекательные скидки.
            </p>
            <ul>
                <li><span class="fwb">Умение</span> работать в условиях экстренных сроков.</li>
                <li><span class="fwb">Комплексное</span> обслуживание с созданием целых линеек товаров.</li>
                <li><span class="fwb">Выпуск</span> сувенирной продукции на заказ большим и малым оптом.</li>
                <li><span class="fwb">Строгий</span> контроль качества.</li>
                <li><span class="fwb">Оперативное</span> разрешение спорных моментов.</li>
                <li><span class="fwb">Индивидуальный</span> подход к заказчикам.</li>
                <li><span class="fwb">Помощь</span> в выборе, в составлении наборов.</li>
                <li><span class="fwb">Удобный</span> безналичный расчет.</li>
                <li><span class="fwb">Официальное</span> оформление сделок.</li>
                <li><span class="fwb">Отсутствие</span> наценок.</li>
            </ul>
        </div>
        <p class="col-12">
            Солидные корпоративные подарки являются визитной карточкой вашего бизнеса. Высококачественные промо-изделия обеспечат благоприятный имидж бренду и его активную рекламу в массах.
        </p>
    </div>
</div>