<div class="top_banners pt-md-5 pt-sm-3">
	<div class="container">
		<div class="list">
			<div class="row list__video">
				<div class="col-lg-8 col-12 mb-4">
					<div class="banner_block">
						<img src="img/banner_11.jpg" alt="">
						<div class="description ta-left col-12 offset-md-7 col-md-5">
							<div class="title white">Ежедневники<br> на заказ</div>
							<div class="text mb-4">за 10 дней</div>
							<a href="#" class="button gradient d-inline-block mt-2">Подробнее</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12 item mb-4 d-none d-md-block">
					<div class="wrap">
	                    <div class="item-text">
	                        <a href="video.html" class="video_play"><i class="fas fa-play"></i></a>
	                    </div>
	                </div>
				</div>
				<div class="col-lg-4 col-md-6 col-12 item mb-4 d-none d-md-block">
					<div class="wrap img_2">
	                    <div class="item-text">
	                        <a href="video.html" class="video_play"><i class="fas fa-play"></i></a>
	                    </div>
	                </div>
				</div>
				<div class="col-lg-8 col-12 mb-4">
					<div class="banner_block">
						<img src="img/banner_21.jpg" alt="">
						<div class="description ta-left col-12 offset-md-7 col-md-5">
							<div class="title white">Смарт-браслеты<br> Xiaomi</div>
							<div class="text mb-4">нанесение - гравировка</div>
							<a href="#" class="button gradient d-inline-block mt-2">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>