<div class="clients">
    <div class="container py-5">
        <div class="col-12 marg-b-70">
            <div class="h1 underline ta-center underline-bottom-20">Наши заказчики</div>
        </div>
        <div class="row quarter_slider align-items-center">
            <div class="col-12 col-md-3 col-lg-4 item my-3"><img class="smooth_black_shadow img-responsive" src="img/client1.png" alt="photo_client1"></div>
            <div class="col-12 col-md-3 col-lg-4 item my-3"><img class="smooth_black_shadow img-responsive" src="img/client2.png" alt="photo_client2"></div>
            <div class="col-12 col-md-3 col-lg-4 item my-3"><img class="smooth_black_shadow img-responsive" src="img/client3.png" alt="photo_client3"></div>
            <div class="col-12 col-md-3 col-lg-4 item my-3"><img class="smooth_black_shadow img-responsive" src="img/client4.png" alt="photo_client4"></div>
            <div class="col-12 col-md-3 col-lg-4 item my-3"><img class="smooth_black_shadow img-responsive" src="img/client2.png" alt="photo_client5"></div>
        </div>
        <div class="quarter_slider-buttons text-center my-3">
            <div class="quarter_prev hover-pointer d-inline-block unselectable"><i class="fas fa-angle-left fz30"></i></div>
            <div class="quarter_next hover-pointer d-inline-block ml-4 unselectable"><i class="fas fa-angle-right fz30"></i></div>
        </div>
    </div>
</div>