<div class="main_news blue_dots">
    <div class="container pt-5">
        <div class="col-12 marg-b-70">
            <div class="h1 underline ta-center underline-bottom-20">Новости</div>
        </div>
        <div class="row align-items-center aside_slider">
            <div class="col-12 col-md-4 item my-3">
                <a href="#" class="d-block">
                    <img src="img/big_picture2.jpg" alt="picture1" class="img-responsive">
                </a>
                <a href="#" class="d-block my-3"><span class="h3 underline half_line">Новость номер 1</span></a>
                <p>Солидные корпоративные подарки являются визитной карточкой вашего бизнеса. Высококачественные
                    промо-изделия обеспечат благоприятный имидж бренду и его активную рекламу в массах.</p>
            </div>
            <div class="col-12 col-md-4 item my-3">
                <a href="#" class="d-block">
                    <img src="img/big_picture.jpg" alt="picture2" class="img-responsive">
                </a>
                <a href="#" class="d-block my-3"><span class="h3 underline half_line">Новость номер 2</span></a>
                <p>Солидные корпоративные подарки являются визитной карточкой вашего бизнеса. Высококачественные
                    промо-изделия обеспечат благоприятный имидж бренду и его активную рекламу в массах.</p>
            </div>
            <div class="col-12 col-md-4 item my-3">
                <a href="#" class="d-block">
                    <img src="img/big_picture2.jpg" alt="picture3" class="img-responsive">
                </a>
                <a href="#" class="d-block my-3"><span class="h3 underline half_line">Новость номер 3</span></a>
                <p>Солидные корпоративные подарки являются визитной карточкой вашего бизнеса. Высококачественные
                    промо-изделия обеспечат благоприятный имидж бренду и его активную рекламу в массах.</p>
            </div>

        </div>
        <div class="col-12 text-center d-none d-md-block">
            <a href="pages-list.html" class="tdu">Все новости</a>
        </div>
        <div class="mt-5 border-bottom"></div>
    </div>
</div>