<div class="text content">
    <div class="container pb-5 py-md-5">
        <div class="row">
            <div class="col-12 col-md-7 bg-gray-darker text__screen pb-4">
                <div class="h1 underline underline-bottom-20 pt-5  mb-5">Мы рады предложить</div>
                <p>Внушительный ассортимент канцелярской и сувенирной продукции с логотипом на заказ (визитницы и ключницы, конверты, блокноты и записные книжки, планинги, папки для офиса и ресторанов, пишущих принадлежностей и пр.)</p>
                <p>Максимальный размер однокрасочного изображения на плоскую поверхность – 60х40 мм, двух и более цветов - 55х40 мм Максимальный размер однокрасочного нанесения на ручки равен: длина – 60мм; высота – наименьший диаметр изделия, умноженный на коэф-фициент 0,7, на цилиндрические поверхности большего диаметра - длина 60 мм, высота - наименьший диаметр изделия, умноженный на коэф-фициент 0,4</p>
            </div>
            <div class="col-12 col-md-5 fz14">
                <div class="h1 underline underline-bottom-20 pt-5 mb-5 ta-right-2-center">Получить подробную<br>информацию</div>

                <div class="col-12 col-md-7 offset-md-5 mt-4">
                    <div class="complex-blue-button" data-event="fancy" data-name="zakaz">Отправить заявку</div>
                </div>
                <div class="col-12 col-md-7 offset-md-5 mt-4">
                    <div class="complex-white-button" data-event="fancy" data-name="zakaz">Заказать расчет</div>
                </div>
            </div>
        </div>
    </div>
</div>