<div class="advantages_block py-5">
	<div class="container">
		<div class="col-12 marg-b-70">
			<div class="h1 underline ta-center underline-bottom-20">Преимущества компании</div>
		</div>
		<div class="row">
			<div class="col-12 col-sm-6 col-lg-3 item pb-4 pt-sm-0">
				<div class="row align-items-center">
					<div class="col-4 col-/div-3 col-sm-12">
						<div class="img_block underline half_line ta-center pb-2"><img src="img/icons/advantages_1.png" alt=""></div>
					</div>
					<div class="col-8 col-/div-9 col-sm-12">
						<div class="description pt-sm-4 pb-sm-3 underline half_line">Умение работать в условиях экстренных сроков</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-3 item pb-4 pt-sm-0">
				<div class="row align-items-center">
					<div class="col-4 col-/div-3 col-sm-12">
						<div class="img_block underline half_line ta-center pb-2"><img src="img/icons/advantages_2.png" alt=""></div>
					</div>
					<div class="col-8 col-/div-9 col-sm-12">
						<div class="description pt-sm-4 pb-sm-3 underline half_line">Строгий контроль качества</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-3 item pb-4 pt-sm-0">
				<div class="row align-items-center">
					<div class="col-4 col-/div-3 col-sm-12">
						<div class="img_block underline half_line ta-center pb-2"><img src="img/icons/advantages_3.png" alt=""></div>
					</div>
					<div class="col-8 col-/div-9 col-sm-12">
						<div class="description pt-sm-4 pb-sm-3 underline half_line">Индивидуальный подход к заказчикам</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-3 item pb-4 pt-sm-0">
				<div class="row align-items-center">
					<div class="col-4 col-/div-3 col-sm-12">
						<div class="img_block underline half_line ta-center pb-2"><img src="img/icons/advantages_4.png" alt=""></div>
					</div>
					<div class="col-8 col-/div-9 col-sm-12">
						<div class="description pt-sm-4 pb-sm-3 underline half_line">Удобный безналичный расчет</div>
					</div>
				</div>
			</div>









			
		</div>
	</div>
</div>