<div class="works_block pb-0 pb-md-5">
	<div class="block_wrap">
		<div class="gradient color_block">
		</div>
		<div class="container py-5">
			<div class="col-12 marg-b-70">
				<div class="h1 underline ta-center white underline-white underline-bottom-20">Примеры работ</div>
			</div>
			<div class="row quarter_slider-works slick-slider">
				<div class="col-lg-3 col-md-6 col-12">
					<div class="item ta-center">
						<div class="img_block"></div>
						<img src="../img/works/works_1.png" alt="this_main-works">
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<div class="item ta-center">
						<div class="img_block"></div>
						<img src="../img/works/works_1.png" alt="this_main-works2">
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<div class="item ta-center">
						<div class="img_block"></div>
						<img src="../img/works/works_1.png" alt="this_main-works3">
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<div class="item ta-center">
						<div class="img_block"></div>
						<img src="../img/works/works_1.png" alt="this_main-works4">
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<div class="item ta-center">
						<div class="img_block"></div>
						<img src="../img/works/works_1.png" alt="this_main-works5">
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<div class="item ta-center">
						<div class="img_block"></div>
						<img src="../img/works/works_1.png" alt="this_main-works6">
					</div>
				</div>
			</div>
			<div class="quarter_slider-buttons text-center mt-4">
	            <div class="quarter_prev-works hover-pointer d-inline-block unselectable"><i class="fas fa-angle-left white fz30"></i></div>
	            <div class="quarter_next-works hover-pointer d-inline-block ml-4 unselectable"><i class="fas fa-angle-right white fz30"></i></div>
	        </div>
		</div>
	</div>
</div>