<div class="text content">
    <div class="container py-md-5">
        <div class="row smooth_black_shadow">
            <div class="col-12 col-md-7 pl-md-0 d-none d-md-block">
                <a href="#">
                    <img src="img/main_text-img.jpg" alt="main_text" class="w100p d-inline-block">
                </a>
            </div>
            <div class="col-12 col-md-5 fz14 px-0 px-md-3">
                <div class="text__opacity-photo">
                    <div class="text__opacity-photo-inner px-3 px-md-0">
                        <div class="h1 underline underline-bottom-20 pt-5 ta-right-2-left">Сувенирная продукция с
                            логотипом компании
                        </div>
                        <p class="py-5 mb-0">
                            В надписях должны быть шрифты без засечек, с положительным разрежением букв на 5-10%.
                            Недопустимо размещение изображения в непосредственной близости с выступающими частями
                            изделия (клип, кнопка и т.д.), расстояние зависит от изделия и может быть рекомендовано
                            технологом или дизайнером.

                            При печати на габаритных изделиях (кружках, бокалах) с большой кривизной, возможно
                            искажение по краям изображения. Следует учитывать это и избегать применения длинных
                            горизонтальных или вертикальных элементов.

                            При печати светлым цветом по темному, на фростированных, прозрачных и металлизированных
                            изделиях обязательна белая подложка, которая расценивается как дополнительный цвет.

                            Макет должен давать однозначное представление о расположении изображения на предмете.
                            Все изображения и шрифты должны быть переведены в кривые в векторных форматах CorelDraw
                            (*.cdr 6-15), Adobe Illustrator (*.ai, eps до версии CS5) либо PDF. Превью в
                            просмотровых файлах (jpg, gif или pdf) обязательно.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>