<div class="col-12">
    <form>
        <div class="border mb-3">
            <div class="h3 p-3 border-bottom">Персональные данные</div>
            <div class="p-3">
                <div class="form-group row">
                    <label for="inputName4" class="col-12 col-sm-3 col-form-label">Ф.И.О
                        <span class="red fwb fz18"> *</span>
                    </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputName4">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail4" class="col-12 col-sm-3 col-form-label">Email
                        <span class="red fwb fz18"> *</span>
                    </label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="inputEmail4">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPhone" class="col-12 col-sm-3 col-form-label">Телефон
                        <span class="red fwb fz18"> *</span>
                    </label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="inputPhone">
                    </div>
                </div>
            </div>
        </div>
        <div class="border mb-3">
            <div class="h3 p-3 border-bottom">Оплата и доставка</div>
            <div class="p-3">
                <div class="form-group row">
                    <label for="inputAddress4" class="col-12 col-sm-3 col-form-label">Адрес
                        <span class="red fwb fz18"> *</span>
                    </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputAddress4">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="selectDeliveryl4" class="col-12 col-sm-3 col-form-label">Способ доставки
                        <span class="red fwb fz18"> *</span>
                    </label>
                    <div class="col-sm-9">
                        <select class="form-control" id="selectDeliveryl4">
                            <option value="1">Доставка по городу платная (бесплатно на заказы от 30 000 руб)</option>
                            <option value="2">Самовывоз (г. Москва, Зельев пер. д.11)</option>
                            <option value="3">Служба междугородней доставки</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="selectPayment" class="col-12 col-sm-3 col-form-label">Способ оплаты
                        <span class="red fwb fz18"> *</span>
                    </label>
                    <div class="col-sm-9">
                        <select name="payment" class="form-control" id="selectPayment">
                            <option value="1">Оплата только по безналу</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="border mb-3">
            <div class="h3 p-3 border-bottom">Дополнительная информация</div>
            <div class="p-3">
                <div class="form-group row">
                    <label for="textareaMsg" class="col-12 col-sm-3 col-form-label">Сообщение</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="textareaMsg" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="fileLogo" class="col-12 col-sm-3 col-form-label">Логотип</label>
                    <div class="col-sm-9">
                        <input type="file" class="form-control-file" id="fileLogo">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="selectPayment" class="col-12 col-sm-3 col-form-label">Вы не робот?
                        <span class="red fwb fz18"> *</span>
                    </label>
                    <div class="col-sm-9">
                        Здесь будет капча
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="exampleCheck1" required="required">
            <label class="custom-control-label" for="exampleCheck1">
                <a href="/" rel="nofollow" target="_blank">Я согласен с политикой конфиденциальности</a>
            </label>
        </div>
        <button type="submit" class="complex-blue-button my-3">Отправить</button>
    </form>
</div>