<div class="products_block pb-5 pt-5 pt-md-1">
	<div class="container">
		<div class="col-12 marg-b-70 d-md-none">
			<div class="h1 underline ta-center underline-bottom-20">Наши товары</div>
		</div>
		<div class="row product_list blue_dots aside_slider">
			<div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
				<div class="item mx-auto">
					<a href="#">
						<div class="product_item mx-auto pb-2">
							<div class="img_block"><img src="img/products/product_1.jpg" alt=""></div>
							<div class="title_wrap px-3 pb-4">
								<div class="title underline half_line">Ежедневники</div>
							</div>
						</div>
					</a>
					<ul class="product_type py-2">
						<li><a href="#">Чайные и кофейные наборы</a></li>
						<li><a href="#">Кружки</a></li>
						<li><a href="#">Бокалы</a></li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
				<div class="item mx-auto">
					<a href="#">
						<div class="product_item mx-auto pb-2">
							<div class="img_block"><img src="img/products/product_2.jpg" alt=""></div>
							<div class="title_wrap px-3 pb-4">
								<div class="title underline half_line">Посуда</div>
							</div>
						</div>
					</a>
					<ul class="product_type py-2">
						<li><a href="#">Чайные и кофейные наборы</a></li>
						<li><a href="#">Кружки</a></li>
						<li><a href="#">Бокалы</a></li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
				<div class="item mx-auto">
					<a href="#">
						<div class="product_item mx-auto pb-2">
							<div class="img_block"><img src="img/products/product_3.jpg" alt=""></div>
							<div class="title_wrap px-3 pb-4">
								<div class="title underline half_line">Промо-одежда</div>
							</div>
						</div>
					</a>
					<ul class="product_type py-2">
						<li><a href="#">Чайные и кофейные наборы</a></li>
						<li><a href="#">Кружки</a></li>
						<li><a href="#">Бокалы</a></li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
				<div class="item mx-auto">
					<a href="#">
						<div class="product_item mx-auto pb-2">
							<div class="img_block"><img src="img/products/product_4.jpg" alt=""></div>
							<div class="title_wrap px-3 pb-4">
								<div class="title underline half_line">Электроника</div>
							</div>
						</div>
					</a>
					<ul class="product_type py-2">
						<li><a href="#">Чайные и кофейные наборы</a></li>
						<li><a href="#">Кружки</a></li>
						<li><a href="#">Бокалы</a></li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
				<div class="item mx-auto">
					<a href="#">
						<div class="product_item mx-auto pb-2">
							<div class="img_block"><img src="img/products/product_5.jpg" alt=""></div>
							<div class="title_wrap px-3 pb-4">
								<div class="title underline half_line">Промо-сувениры</div>
							</div>
						</div>
					</a>
					<ul class="product_type py-2">
						<li><a href="#">Чайные и кофейные наборы</a></li>
						<li><a href="#">Кружки</a></li>
						<li><a href="#">Бокалы</a></li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
				<div class="item mx-auto">
					<a href="#">
						<div class="product_item mx-auto pb-2">
							<div class="img_block"><img src="img/products/product_6.jpg" alt=""></div>
							<div class="title_wrap px-3 pb-4">
								<div class="title underline half_line">Награды</div>
							</div>
						</div>
					</a>
					<ul class="product_type py-2">
						<li><a href="#">Чайные и кофейные наборы</a></li>
						<li><a href="#">Кружки</a></li>
						<li><a href="#">Бокалы</a></li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
				<div class="item mx-auto">
					<a href="#">
						<div class="product_item mx-auto pb-2">
							<div class="img_block"><img src="img/products/product_7.jpg" alt=""></div>
							<div class="title_wrap px-3 pb-4">
								<div class="title underline half_line">Зонты</div>
							</div>
						</div>
					</a>
					<ul class="product_type py-2">
						<li><a href="#">Чайные и кофейные наборы</a></li>
						<li><a href="#">Кружки</a></li>
						<li><a href="#">Бокалы</a></li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
				<div class="item mx-auto">
					<a href="#">
						<div class="product_item mx-auto pb-2">
							<div class="img_block"><img src="img/products/product_8.jpg" alt=""></div>
							<div class="title_wrap px-3 pb-4">
								<div class="title underline half_line">Сумки</div>
							</div>
						</div>
					</a>
					<ul class="product_type py-2">
						<li><a href="#">Чайные и кофейные наборы</a></li>
						<li><a href="#">Кружки</a></li>
						<li><a href="#">Бокалы</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>	
</div>