<div class="recommended_products text-center second_gradient py-5">
	<div class="container">
		<div class="col-12 marg-b-70">
			<div class="h1 underline ta-center white underline-white underline-bottom-20">Рекомендуемые товары</div>
		</div>
		<div class="row products_list white_dots aside_slider">
			<div class="col-12 col-md-6 col-lg-4 col-xl-3 item mb-3 mb-md-5">
				<div class="img_block"><a href="#"><img src="img/products/recommend_1.jpg" alt=""></a></div>
				<div class="title white my-4  underline half_line underline-white ta-center">Толстовка с логотипом</div>
				<a href="#" class="btn_more mx-auto">Подробнее</a>
			</div>
			<div class="col-12 col-md-6 col-lg-4 col-xl-3 item mb-3 mb-md-5">
				<div class="img_block"><a href="#"><img src="img/products/recommend_2.jpg" alt=""></a></div>
				<div class="title white my-4  underline half_line underline-white ta-center">Блокнот с логотипом</div>
				<a href="#" class="btn_more mx-auto">Подробнее</a>
			</div>
			<div class="col-12 col-md-6 col-lg-4 col-xl-3 item mb-3 mb-md-5">
				<div class="img_block"><a href="#"><img src="img/products/recommend_3.jpg" alt=""></a></div>
				<div class="title white my-4  underline half_line underline-white ta-center">Кружка с логотипом</div>
				<a href="#" class="btn_more mx-auto">Подробнее</a>
			</div>
			<div class="col-12 col-md-6 col-lg-4 col-xl-3 item mb-3 mb-md-5">
				<div class="img_block"><a href="#"><img src="img/products/recommend_2.jpg" alt=""></a></div>
				<div class="title white my-4  underline half_line underline-white ta-center">Блокнот с логотипом</div>
				<a href="#" class="btn_more mx-auto">Подробнее</a>
			</div>
			<div class="col-12 col-md-6 col-lg-4 col-xl-3 item mb-3 mb-md-5">
				<div class="img_block"><a href="#"><img src="img/products/recommend_2.jpg" alt=""></a></div>
				<div class="title white my-4  underline half_line underline-white ta-center">Блокнот с логотипом</div>
				<a href="#" class="btn_more mx-auto">Подробнее</a>
			</div>
			<div class="col-12 col-md-6 col-lg-4 col-xl-3 item mb-3 mb-md-5">
				<div class="img_block"><a href="#"><img src="img/products/recommend_1.jpg" alt=""></a></div>
				<div class="title white my-4  underline half_line underline-white ta-center">Толстовка с логотипом</div>
				<a href="#" class="btn_more mx-auto">Подробнее</a>
			</div>
			<div class="col-12 col-md-6 col-lg-4 col-xl-3 item mb-3 mb-md-5">
				<div class="img_block"><a href="#"><img src="img/products/recommend_2.jpg" alt=""></a></div>
				<div class="title white my-4  underline half_line underline-white ta-center">Блокнот с логотипом</div>
				<a href="#" class="btn_more mx-auto">Подробнее</a>
			</div>
			<div class="col-12 col-md-6 col-lg-4 col-xl-3 item mb-3 mb-md-5">
				<div class="img_block"><a href="#"><img src="img/products/recommend_3.jpg" alt=""></a></div>
				<div class="title white my-4  underline half_line underline-white ta-center">Кружка с логотипом</div>
				<a href="#" class="btn_more mx-auto">Подробнее</a>
			</div>
		</div>
		<div class="more text-center d-none d-md-block"><a href="#">Подробнее</a></div>
	</div>
</div>