<div class="col-12 col-md-3 col-lg-4 no-gutters">
    <div class="add_head col">Каталог</div>
    <div class="col">
        <ul class="row no-gutters footer_menu menu">
            <li class="col-6 col-md-12 col-lg-6"><a href="/">000000001</a></li>
            <li class="col-6 col-md-12 col-lg-6"><a href="/">000000002</a></li>
            <li class="col-6 col-md-12 col-lg-6"><a href="/">000000003</a></li>
            <li class="col-6 col-md-12 col-lg-6"><a href="/">000000004</a></li>
            <li class="col-6 col-md-12 col-lg-6"><a href="/">000000005</a></li>
            <li class="col-6 col-md-12 col-lg-6"><a href="/">000000006</a></li>
            <li class="col-6 col-md-12 col-lg-6"><a href="/">000000007</a></li>
            <li class="col-6 col-md-12 col-lg-6"><a href="/">000000008</a></li>
            <li class="col-6 col-md-12 col-lg-6"><a href="/">000000009</a></li>
            <li class="col-6 col-md-12 col-lg-6"><a href="/">000000010</a></li>
            <li class="col-6 col-md-12 col-lg-6"><a href="/">000000011</a></li>
            <li class="col-6 col-md-12 col-lg-6"><a href="/">000000012</a></li>
            <li class="col-6 col-md-12 col-lg-6"><a href="/">000000013</a></li>
            <li class="col-6 col-md-12 col-lg-6"><a href="/">000000014</a></li>
            <li class="col-6 col-md-12 col-lg-6"><a href="/">000000015</a></li>
            <li class="col-6 col-md-12 col-lg-6"><a href="/">000000016</a></li>
        </ul>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-3 col-lg-2">
    <div class="add_head">Ежедневники</div>
    <ul class="footer_menu menu">
        <li><a href="/">Some Text 1</a></li>
        <li><a href="/">Some Text 2</a></li>
        <li><a href="/">Some Text 3</a></li>
        <li><a href="/">Some Text 4</a></li>
        <li><a href="/">Some Text 5</a></li>
        <li><a href="/">Some Text 6</a></li>
        <li><a href="/">Some Text 7</a></li>
        <li><a href="/">Some Text 8</a></li>
    </ul>

</div>
<div class="col-12 col-sm-6 col-md-3 col-lg-2 mb-4 mb-md-0">
    <div class="add_head">Услуги</div>
    <ul class="footer_menu menu">
        <li><a href="/">Some Text 1</a></li>
        <li><a href="/">Some Text 2</a></li>
        <li><a href="/">Some Text 3</a></li>
        <li><a href="/">Some Text 4</a></li>
        <li><a href="/">Some Text 5</a></li>
        <li><a href="/">Some Text 6</a></li>
        <li><a href="/">Some Text 7</a></li>
        <li><a href="/">Some Text 8</a></li>
    </ul>
</div>