<ul class="row menu main_menu no-gutters">
    <li class="col dropmenu"><a href="/" class="return_false">Каталог</a>
        <span class="icon-menu"><i class="fas fa-angle-down white"></i></span>
        <ul class="submenu">
            <li class="dropmenu"><a href="/catalog.html">Промо-одежда</a>
                <span class="icon-menu"><i class="fas fa-angle-down white"></i></span>
                <ul class="submenu">
                    <li><a href="/good.html">Бейсболки</a></li>
                    <li><a href="/">002</a></li>
                    <li><a href="/">003</a></li>
                    <li><a href="/">004</a></li>
                </ul>
            </li>
            <li><a href="/">Some text</a></li>
            <li><a href="/">Some text</a></li>
            <li class="dropmenu"><a href="/">Some text</a>
                <span class="icon-menu"><i class="fas fa-angle-down white"></i></span>
                <ul class="submenu">
                    <li><a href="/">001</a></li>
                    <li><a href="/">002</a></li>
                    <li><a href="/">003</a></li>
                    <li><a href="/">004</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="col"><a href="/">Портфолио</a><span></span></li>
    <li class="col"><a href="/services-list.html">Услуги</a><span></span></li>
    <li class="col"><a href="/">Адьютант</a><span></span></li>
</ul>