<ul class="row menu main_menu no-gutters">
    <li class="col dropmenu"><a href="/">Каталог</a><span></span>
        <ul class="submenu">
            <li class="dropmenu"><a href="/">Some text</a><span></span>
                <ul class="submenu">
                    <li><a href="/">001</a></li>
                    <li><a href="/">002</a></li>
                    <li><a href="/">003</a></li>
                    <li><a href="/">004</a></li>
                </ul>
            </li>
            <li><a href="/">Some text</a></li>
            <li><a href="/">Some text</a></li>
            <li class="dropmenu"><a href="/">Some text</a><span></span>
                <ul class="submenu">
                    <li><a href="/">001</a></li>
                    <li><a href="/">002</a></li>
                    <li><a href="/">003</a></li>
                    <li><a href="/">004</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="col"><a href="/">Портфолио</a><span></span></li>
    <li class="col"><a href="/">Услуги</a><span></span></li>
    <li class="col"><a href="/">Адьютант</a><span></span></li>
</ul>