<ul class="row menu main_menu no-gutters">
    <li class="col col-md-auto dropmenu"><a href="/" class="return_false">Каталог</a>
        <span class="icon-menu"><i class="fas fa-angle-down white"></i></span>
        <div class="submenu_wrap">
            <ul class="submenu">
                <li class="dropmenu"><a href="catalog.html">Промо-одежда</a>
                    <span class="icon-menu"><i class="fas fa-angle-down white"></i></span>
                    <ul class="submenu_list">
                        <li><a href="good.html">Бейсболки</a></li>
                        <li><a href="/">Футболки</a></li>
                        <li><a href="/">Кеды</a></li>
                        <li><a href="/">Носки</a></li>
                    </ul>
                </li>
                <li class="dropmenu"><a href="catalog.html">Электроника</a>
                    <span class="icon-menu"><i class="fas fa-angle-down white"></i></span>
                    <ul class="submenu_list">
                        <li><a href="good.html">Часы</a></li>
                        <li><a href="/">Флэшки</a></li>
                        <li><a href="/">Кабель питания</a></li>
                        <li><a href="/">Северный мост</a></li>
                        <li><a href="good.html">Часы</a></li>
                    </ul>
                </li>
                <li class="dropmenu"><a href="/">Путешествия и отдых</a>
                    <span class="icon-menu"><i class="fas fa-angle-down white"></i></span>
                    <ul class="submenu_list">
                        <li><a href="/">Рюкзаки</a></li>
                        <li><a href="/">Палатки</a></li>
                        <li><a href="/">Байдарки</a></li>
                        <li><a href="/">Фонарики</a></li>
                    </ul>
                </li>

                <li class="dropmenu"><a href="catalog.html">Промо-одежда</a>
                    <span class="icon-menu"><i class="fas fa-angle-down white"></i></span>
                    <ul class="submenu_list">
                        <li><a href="good.html">Бейсболки</a></li>
                        <li><a href="/">Футболки</a></li>
                        <li><a href="/">Кеды</a></li>
                        <li><a href="/">Носки</a></li>
                    </ul>
                </li>
                <li class="dropmenu"><a href="catalog.html">Электроника</a>
                    <span class="icon-menu"><i class="fas fa-angle-down white"></i></span>
                    <ul class="submenu_list">
                        <li><a href="good.html">Часы</a></li>
                        <li><a href="/">Флэшки</a></li>
                        <li><a href="/">Кабель питания</a></li>
                        <li><a href="/">Северный мост</a></li>
                    </ul>
                </li>
                <li class="dropmenu"><a href="/">Путешествия и отдых</a>
                    <span class="icon-menu"><i class="fas fa-angle-down white"></i></span>
                    <ul class="submenu_list">
                        <li><a href="/">Рюкзаки</a></li>
                        <li><a href="/">Палатки</a></li>
                        <li><a href="/">Байдарки</a></li>
                        <li><a href="/">Фонарики</a></li>
                    </ul>
                </li>

                <li class="dropmenu"><a href="catalog.html">Промо-одежда</a>
                    <span class="icon-menu"><i class="fas fa-angle-down white"></i></span>
                    <ul class="submenu_list">
                        <li><a href="good.html">Бейсболки</a></li>
                        <li><a href="/">Футболки</a></li>
                        <li><a href="/">Кеды</a></li>
                        <li><a href="/">Носки</a></li>
                        <li><a href="good.html">Часы</a></li>

                    </ul>
                </li>
                <li class="dropmenu"><a href="catalog.html">Электроника</a>
                    <span class="icon-menu"><i class="fas fa-angle-down white"></i></span>
                    <ul class="submenu_list">
                        <li><a href="good.html">Часы</a></li>
                        <li><a href="/">Флэшки</a></li>
                        <li><a href="/">Кабель питания</a></li>
                        <li><a href="/">Северный мост</a></li>
                    </ul>
                </li>
                <li class="dropmenu"><a href="/">Путешествия и отдых</a>
                    <span class="icon-menu"><i class="fas fa-angle-down white"></i></span>
                    <ul class="submenu_list">
                        <li><a href="/">Рюкзаки</a></li>
                        <li><a href="/">Палатки</a></li>
                        <li><a href="/">Байдарки</a></li>
                        <li><a href="/">Фонарики</a></li>
                    </ul>
                </li>


            </ul>
            <div class="tac"><a href="/catalog.html" class="d-none d-md-inline-block button gradient my-3 px-3">Посмотреть все</a></div>
        </div>
    </li>
    <li class="col col-md-auto"><a href="/">Портфолио</a><span></span></li>
    <li class="col col-md-auto"><a href="services-list.html">Услуги</a><span></span></li>
    <li class="col col-md-auto"><a href="/">Адьютант</a><span></span></li>
</ul>