<div class="left_menu left-menu-gradient d-none d-md-block col-12 mb-3">
    <div class="left_menu-inner">
        <div class="col-12">
            <div class="h3 basic_color py-3">Категории</div>
            <ul class="menu pb-4 pt-2">
                <li><a href="/">Поло</a></li>
                <li><a href="/">Рубашки</a></li>
                <li><a href="/">Ветровки</a></li>
                <li><a href="/">Тостовки</a></li>
                <li><a href="/">Бейсболки</a></li>
            </ul>
        </div>
    </div>
</div>