<ul class="row menu top_menu">
    <li class="col-auto"><a href="pages.html">О нас</a></li>
    <li class="col-auto"><a href="pages-list.html">Новости</a></li>
    <li class="col-auto"><a href="video-list.html">Видео</a></li>
    <li class="col-auto"><a href="index.html">Как заказать</a></li>
    <li class="col-auto"><a href="index.html">Оплата и доставка</a></li>
    <li class="col-auto"><a href="contacts.html">Контакты</a></li>
    <li class="col-auto"><a href="index.html">Портфолио</a></li>
</ul>