.good
{
    &_count
    {
        &-num
        {
            padding: 10px 5px;
            font-size: 14px;
            @include media-breakpoint-up(md) {
                font-size: 18px;
                padding:10px 25px;
            }

        }
        &-prices
        {
            color: $gray_text_color;
            @include media-breakpoint-up(md)
            {
                color: #000;
            }
        }

    }
}
.number
{
    &>div,&>input
    {
        display: inline-block;
        margin-right: 5px;
    }
    .minus,.plus
    {
        font-size: 40px;
        vertical-align: sub;
        &:hover
        {
            cursor: pointer;
        }
    }
    .plus
    {
        position: relative;
        top: 3px;
    }
    &>input
    {
        width: 60px;
    }
    @at-root .cart .number input
    {
        width: 160px;
        margin-right: 10px;
        @include media-breakpoint-up(md)
        {
            width: 60px;
        }
    }
}