.good_slider
{
    .wrap
    {
        position: relative;
        .good_heart
        {
            position: absolute;
            z-index: 2;
            bottom: 10px;
            right: 10px;
            a
            {
                padding: 7px 7px 2px;
                border: 1px solid $main_color;
                border-radius: 5px;
                i
                {
                    font-size: 20px;
                }
            }
        }
    }
    &-nav
    {
        img
        {
            display: inline-block;
            padding: 10px;
        }

    }
}