@import "slider";
@import "breadcrumbs";
@import "similar_block";
@import "video";
@import "good_slider";
@import "good_tabs";
@import "good_count";
@import "recommend";
@import "forms";
@import "catalog";
@import "main_banners";
@import "main_news";
@import "text_main";
@import "main_products";
@import "main_advantages";
@import "main_works";
@import "cart";

