.text
{
    &__opacity
    {
        &-photo
        {

            background-image:url(../img/main_text-img.jpg);

            @include media-breakpoint-up(md)
            {
                background-image: none;
            }
            &-inner
            {
                background-color: rgba(255,255,255,0.7);
            }
        }
    }
    &__screen
    {
        position: relative;
        &:before
        {
            content:'';
            @extend %gray_bg-darker;
            position: absolute;
            height: 100%;
            width: 500%;
            left:-500%;
        }
    }

}