
.header
{
    &__logo
    {
        &.bottom_border-blue
        {
            @include media-breakpoint-up(md) {
                border:none;
            }
        }
    }
    &__basket
    {
        font-size: 20px;
        color: $main_color;
        padding: 5px 11px;
        border-radius: 8px;
        margin-left: 15px;
        position: absolute;
        top: -187px;
        right: 28px;
        @include media-breakpoint-up(md) {
            position: static;
            background: $main_color;
            background: linear-gradient(135deg, $main_color 0%,#00a9f5 100%);
            border: none;
            i
            {
                color:#fff;

            }
        }
    }
    &__top
    {
    border-bottom: 3px solid $blue_color;
    }
    &__disclamer
    {
        font-size: 20px;
        color: $main_color;
    }
    &__address
    {
        font-size: 14px;
        font-weight: bold;
        @include marg-top($mtmd:5);
    }
    &__mobile
    {
        &-separator
        {
            box-shadow: -20px 2px 36px -4px rgba(47, 128, 237, 0.3);
            font-size: 20px;
        }
    }
    &_search
    {
        a
        {
            @extend %block_shadow;
            display: inline-block;
            padding: 5px 10px;
            border-radius: 5px;
        }
    }


}
