<div class="col-12 col-md-3 col-lg-4 address py-3 py-md-0">
    <div class="add_head basic_color">Контакты</div>
    <div class="opensans">
        <p class="text_block">г. Москва, Зельев переулок д. 11, 1 этаж, кабинет 111</p>
        <div>
            <a href="tel:+74955850890"><i class="fas fa-mobile-alt basic_color"></i> +7 (495) 585-08-90</a>
        </div>
        <div>
            <a href="mailto:g-strela@yandex.ru"><i class="fas fa-envelope basic_color"></i> g-strela@yandex.ru</a>
        </div>
    </div>
</div>