.left_menu
{
    padding: 1px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    &-inner {
        background: #ffffff;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }
    .h3
    {
        border-bottom:1px solid $border-gray-color;
    }
    ul
    {
        margin-left: -15px;
        margin-right: -15px;
    }
    li
    {
        a
        {
            @include pad-equal($pymd:10,$pxmd:10);
            display: block;
            &:hover
            {
                @extend %hover-lia;
            }

        }

    }
}