.header
{
    &__menu
    {

        background-color: $main_color;
        ul
        {
            a
            {
                @include pad-equal;
            }
        }
        a
        {
            color:#fff;
            font-weight:600;
            display: block;
            text-align: center;

            &:hover
            {
                background-color: #fff;
                color: $main_color;
            }
        }
    }
}
