.header
{
    &__menu
    {

        background-color: $main_color;
        ul
        {
            a
            {

            }
        }
        li
        {
            position: relative;

        }

     
        
        .submenu_wrap
        {
            position: absolute;
            background-color: #eff5fd;
            z-index: 5;
            width: 100%;
            transition: 0.5s;
            visibility: hidden;
            opacity: 0;
            height: 0;


            & > ul
            {
                padding: 24px 30px;
                position: relative;
                column-width: 200px;
                column-count: 5;
                column-gap: 0;

                //width: 1110px;
                display: block;



                & > li
                {
                    display: inline-block;
                    vertical-align: top;
                    margin-bottom: 4px;
                    width: 100%;
                    padding-right: 15px;
                }

            }
        }
        .main_menu
        {
            position: relative;
            & > li
            {
                @include media-breakpoint-up(md)
                {
                    position: static;
                }
                & > a
                {
                    padding: 15px;
                }
                &:hover
                {
                    & > div
                    {
                        height:auto;
                        visibility: visible;
                        opacity: 1;
                    }
                    background-color: #fff;

                    & > .submenu
                    {
                        @extend %another_shadow;
                        z-index: 6;
                    }

                    & > a
                    {
                        position: relative;
                        color: #000;

                        &:after
                        {
                            @include triangle_down(7,#fff,-30,15,15);

                        }
                    }
                }
            }
            li
            {
                &:hover
                {
                    & > a
                    {
                        color: $border-color-blue;
                    }
                }
            }

            .submenu
            {
                a
                {
                    color: #000;
                    text-align: left;
                    font-weight: 400;

                }
                &_list
                {


                    a
                    {
                        font-size: 13px;
                    }

                }
                & > li
                {
                    & > a
                    {
                        color: $main_color;
                        font-size: 14px;
                    }
                }

            }
        }
        a
        {
            color:#fff;
            font-weight:600;
            display: block;
            text-align: center;
        }
    }
}

.icon-menu {
    cursor: pointer;
    @include media-breakpoint-up(md)
    {
        display: none;
    }
}
.submenu .icon-menu {
    display: block;
    position: absolute;
    right: 0;
    top:12px;
    z-index: 3;
    width: 20px;
    height: 20px;
    @include media-breakpoint-up(md)
    {
        display: none;
    }
    i
    {
        color: $main_color;
    }
}
.iseeu_menu .submenu_list
{
    display: none;
}