.header
{
    &__menu
    {

        background-color: $main_color;
        ul
        {
            a
            {
                @include pad-equal;
            }
        }
        li
        {
            position: relative;
        }
        .main_menu
        {
            .submenu
            {
                position: absolute;
                background: #ffffff;
                left: 0;
                display: none;
                float: left;
                font-size: 14px;
                padding: 0 0;
                text-align: left;
                z-index: 2;
                width: 100%;

                a
                {
                    @include pad-equal($pymd:10,$pxmd:15);
                    color: #000;
                    text-align: left;
                    &:hover
                    {
                        background: $pale_blue_color;
                    }
                }
                .submenu
                {
                    left: 100%;
                    top: 0;
                }
            }
        }
        a
        {
            color:#fff;
            font-weight:600;
            display: block;
            text-align: center;

            &:hover
            {
                background-color: #fff;
                color: $main_color;
            }
        }
    }
}
.submenu
{
    display: none;
}
