$default-font: "Raleway", sans-serif;
$open_sans: "Open Sans", sans-serif;
$raleway: "Raleway", sans-serif;
$accent: orange;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"

$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;


// colors
$content_color: #000;
$main_color: #2f80ed;
$blue_color: #2e7ce6;
$gray_color: #ebebeb;
$gray_text_color: #a7a7a7;
$form_gray_color: #939393;
$table_gray_color: #f9f9f9;
$pale_blue_color: #cceefd;
$another_blue: #00a9f5;
$border-color-blue: #12a9f4;
$border-gray-color: #e1e1e1;



$images : '../img/';


