html, body {
  height: 100%;
}
body {
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.5;
  font-family: $default-font;
  overflow-x: hidden;
  @include media-breakpoint-up(md) {
    font-size: 16px;
  }
}
//p {
//  text-indent: 30px;
//}
a {
  color: $main_color;
}

input, textarea, button {
  background: #fff;
  border: none;
  outline: none;
  &:focus:required:invalid {
    border-color: red;
  }
  &:required:valid {
    border-color: green;
  }

}
::placeholder
{
  font-weight: 400;
  color:$form_gray_color;
}
.form
{

  input
  {
    font-weight: 400;
    color:$form_gray_color;
    &:hover
    {
      color:$form_gray_color;
    }

  }

}



