@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

html, body {
    height: 100%;
}

body {
    font-size: 14px;
    min-width: 320px;
    position: relative;
    line-height: 1.5;
    font-family: $default-font;
    overflow-x: hidden;
    @include media-breakpoint-up(md) {
        font-size: 16px;
    }
}

a {
    color: $main_color;
}

input, textarea, button {
    background: #fff;
    border: none;
    outline: none;
    &:focus:required:invalid {
        border-color: red;
    }
    &:required:valid {
        border-color: green;
    }

}

::placeholder {
    font-weight: 400;
    color: $form_gray_color;
}

.form {

    input {
        font-weight: 400;
        color: $form_gray_color;
        &:hover {
            color: $form_gray_color;
        }

    }

}



