html, body {
  height: 100%;
}
body {
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.5;
  font-family: $default-font;
  overflow-x: hidden;
  @include media-breakpoint-up(md) {
    font-size: 16px;
  }
}
//p {
//  text-indent: 30px;
//}
a {
  color: $main_color;
}

input, textarea {
  border: #666 1px solid;
  outline: none;
  &:focus:required:invalid {
    border-color: red;
  }
  &:required:valid {
    border-color: green;
  }

}
.basic_color {
  color: $main_color;
}
.content_color {
  color: $content_color;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;

}
.tac {
  text-align: center;
}
.fwb {
  font-weight: bold;
}
.red {
  color: red;
}
.spy {
  display: none;
}
.test {
  font-size: 20px;
}
.black {
  font-weight: 900;
}
.semibold {
  font-weight: 600;
}
