.opensans {
  font-family: $open_sans;
}
// headers
.h1 {
  @extend %h1;
}
.h2 {
  @extend %h2;
}
.add_head {
  @extend %add_head;
}
// texts
.text_block {
  @extend %text_block;
}
.pale_bg {
  background-color: $pale_blue_color;
}
.table_wrapper {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; // See https://github.com/twbs/bootstrap/pull/10057
}

table {
  border-collapse: collapse;
  font-family: $open_sans;

  thead {
    tr {
      background-color: $pale_blue_color;
    }
    th,td {
      font-size: 14px;
      color:$main_color;
      font-weight: bold;
    }
  }
  tr {

  }
  td {
    padding: 10px;
    font-size: 14px;
  }
}


ul {
  list-style: none;
  padding-left: 0;
}
.content {
  li {
    position: relative;
    &:before {
      content: '-';
      font-weight: 900;
      color: $main_color;
      position: absolute;
      left: -10px;
    }
  }
}


.ta-right {
  text-align: right;
  &:after {
    right: 0;
  }
}
.ta-center {
  text-align: center;
  &:after {
    right:0;
    left:0;
    margin: 0 auto;
  }
}
.half_line {
  &:after {
    width: 30px;
  }
}
.remark {
  font-size: 14px;
  color: $gray_text_color;
}
.menu a:hover {
  text-decoration: none;
}