.opensans {
    font-family: $open_sans;
}

// headers
.h1 {
    @extend %h1;
}

.h2 {
    @extend %h2;
}
.h3 {
    @include h3;
}
.add_head {
    @extend %add_head;
}

a {
    &:hover
    {
        outline: none;
    }
    &:focus
    {
        outline: none;
    }
    &:active
    {
        outline: none;
    }
}

// texts
.text_block {
    @extend %text_block;
}

.pale_bg {
    background-color: $pale_blue_color;
}

.table_wrapper {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; // See https://github.com/twbs/bootstrap/pull/10057
}

table {
    border-collapse: collapse;
    font-family: $open_sans;

    thead {
        tr {
            background-color: $pale_blue_color;
        }
        th, td {
            font-size: 14px;
            color: $main_color;
            font-weight: bold;
        }
    }
    tr {

    }
    td {
        padding: 10px;
        font-size: 14px;
    }
}

ul {
    list-style: none;
    padding-left: 0;
}

.content {
    li {
        position: relative;
        &:before {
            content: '-';
            font-weight: 900;
            color: $main_color;
            position: absolute;
            left: -10px;
        }
    }
}

.ta-right {
    text-align: right;
    &:after {
        right: 0;
    }
}

.ta-center {
    text-align: center;
    &:after {
        right: 0;
        left: 0;
        margin: 0 auto;
    }
}

.half_line {
    &:after {
        width: 30px;
    }
}

.remark {
    font-size: 14px;
    color: $gray_text_color;
}

.white_link {
    text-decoration: underline;
    color: #fff;
}

.bottom_border-blue {
    border-bottom: 3px solid $main_color;
}


ul {
    margin-bottom: 0;
}
.menu
{
    a
    {
        color: #000;
        &:hover
        {
            text-decoration: none;
        }
    }
}
i {
    color: $main_color;
}
.text_gradient {
    position: relative;
    &:after
    {
        @extend %text_gradient;    
    }
    
}
.left-menu-gradient {
    @extend %left_menu_gradient;
}

.button {
    @include button;
}

button.gradient {
    @extend %button_gradient;
}
.gradient {
    @extend %button_gradient;
}

.button-white {
    @include button;
}

.button-blue {
    @include button($main_color, #fff);
}

.black_color {
    color:#000;
}
.little_remark {
    font-size: 12px;
    font-weight: 600;
}
.posa {
    position: absolute;
}
.basic_color {
    color: $main_color;
}
.content_color {
    color: $content_color;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;

}
.tac {
    text-align: center;
}
.fwb {
    font-weight: bold;
}
.red {
    color: red;
}
.spy {
    display: none;
}
.test {
    font-size: 20px;
}
.black {
    font-weight: 900;
}
.semibold {
    font-weight: 600;
}