<div class="container notfound">
    <div class="row no-gutters content align-items-center my-5">
        <div class="d-none d-md-flex col-md-4">
            <a href="/" class="">
                <img src="img/vlc.jpg" alt="photo" class="img-responsive">
            </a>
        </div>
        <div class="col-12 col-md-8">
            <div class="h1 mb-3 clip_gradient d-inline-block">Ооой... Ошибка 404</div>
            <p>Простите, но страница, которую вы искали, не работает</p>
            <div>
                Предлагаем перейти на
                <a href="/" class="ml-3 complex-blue-button d-inline-block">Главная</a>
            </div>
        </div>
    </div>
</div>