@@include('breadcrumb.html')
<div class="container">
    <div class="row pb-5">
       <div class="col-12 col-md-8 col-xl-9">
            <div class="row no-gutters">
                @@include('modules/filters.html')
                @@include('modules/catalog_list.html')
                <div class="col-12 content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim libero nam nisi nulla odio quae,
                        quibusdam repellat? Aperiam at deserunt dolores error eveniet sint ut vero? Ab beatae deleniti
                        tenetur?</p>
                    <p>Accusamus alias aliquid architecto atque corporis culpa deserunt distinctio facilis illum, ipsa
                        labore laboriosam maxime molestias natus non praesentium quis saepe sint ut voluptates.
                        Cupiditate debitis fugiat sed similique ut.</p>
                </div>
            </div>
        </div>
        <div class="aside col-12 col-md-4 col-xl-3 order-md-first">
            @@include('menu/left_menu.html')
            @@include('menu/left_block.html')
        </div>
    </div>
</div>