<div class="footer pt-4">
    <div class="container">
        <div class="row">
            @@include('menu/footer_menu.html')
            <div class="col-12 col-md-4 opensans address py-3 py-md-0">
                <div class="add_head basic_color">Контакты</div>
                <p class="text_block">г. Москва, Зельев переулок д. 11, 1 этаж, кабинет 111</p>
                <div>
                    <a href="tel:+74955850890"><i class="fas fa-mobile-alt basic_color"></i> +7 (495) 585-08-90</a>
                </div>
                <div>
                    <a href="mailto:g-strela@yandex.ru"><i class="fas fa-envelope basic_color"></i> g-strela@yandex.ru</a>
                </div>
            </div>
        </div>
        <div class="row footer_floor py-3 justify-content-between">
            <div class="col-12 col-md-3 footer_logo">
                <a href="https://ard-media.ru" rel="nofollow" target="_blank"><img src="/img/ard_logo.png" alt="ard-media"></a>
                <div class="w-100"></div>
                <a href="https://ard-media.ru" rel="nofollow" target="_blank" class="content_color">Раскрутка сайта</a>
            </div>
            <div class="col-12 col-md-3 order-md-first">
                <p>g-strela.ru &copy; 2018</p>
                <a href="/" rel="nofollow" target="_blank" class="content_color">Политика конфиденциальности</a>
            </div>

        </div>
    </div>
</div>