<div class="footer">
    <div class="container">
        <div class="row py-4">
            @@include('menu/footer_menu.html')
            @@include('footer/footer_contacts.html')
        </div>
        <div class="row footer_floor py-3 justify-content-between">
            <div class="col-12 col-md-3 footer_logo">
                <a href="https://ard-media.ru" rel="nofollow" target="_blank"><img src="img/ard_logo.png" alt="ard-media"></a>
                <div class="w-100"></div>
                <a href="https://ard-media.ru" rel="nofollow" target="_blank" class="content_color">Раскрутка сайта</a>
            </div>
            <div class="col-12 col-md-3 order-md-first">
                <p>g-strela.ru &copy; 2018</p>
                <a href="/" rel="nofollow" target="_blank" class="content_color">Политика конфиденциальности</a>
            </div>

        </div>
    </div>
</div>
@@include('modules/fancy_form.html')