@@include('breadcrumb.html')
<div class="container">
    <div class="row pb-5">
       <div class="col-12 col-md-8 col-xl-9">
            <div class="row good">
                <div class="col-md-5">
                    @@include('modules/good_slider.html')
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="good_price text-center opensans col-12 my-2">
                            <div class="pale_bg py-3">
                                <span class="another_blue">Цена:</span><span class="fwb"> 450 руб.</span>
                            </div>
                        </div>
                        <div class="col-12">@@include('modules/good_count.html')</div>
                        <div class="col-12 order-md-first">@@include('modules/good_tab.html')</div>
                    </div>

                </div>
                <div class="col-12 text-center mb-4">
                    <div class="underline ta-center"></div>
                </div>
                <div class="col-12 content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim libero nam nisi nulla odio quae,
                        quibusdam repellat? Aperiam at deserunt dolores error eveniet sint ut vero? Ab beatae deleniti
                        tenetur?</p>
                    <p>Accusamus alias aliquid architecto atque corporis culpa deserunt distinctio facilis illum, ipsa
                        labore laboriosam maxime molestias natus non praesentium quis saepe sint ut voluptates.
                        Cupiditate debitis fugiat sed similique ut.</p>
                </div>
                <!--<div class="col-12">-->
                    <!--@@include('modules/good_similar.html')-->
                <!--</div>-->
            </div>
        </div>
       <div class="aside col-12 col-md-4 col-xl-3 order-md-first">
            @@include('menu/left_menu.html')
        </div>
       <div class="col-12">
           @@include('modules/good_similar-alt.html')
        </div>
    </div>
</div>