<div class="header">
    <div class="header__top d-none d-md-block">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-auto">
                    @@include('menu/top_menu.html')
                </div>
                <div class="col no-gutters align-self-center">
                    <div class="row justify-content-end">
                        <div class="col-auto header__address">
                            <i class="fas fa-map-marker-alt"></i>
                            <span> г. Москва, Зельев пер-к, д.11</span></div>
                        <div class="col-auto header_search header__mobile-menu">
                            @@include('header/header_search.html')
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="header__base">
        <div class="container">
            <div class="row no-gutters align-items-center py-md-5">
                <div class="header__logo col-6 col-md-3 bottom_border-blue">
                    <img src="/img/logo.png" alt="голубая стрела" class="img-responsive">
                </div>
                <div class="col-6 d-block d-md-none bottom_border-blue header__mobile-icons">
                    <div class="row justify-content-end">
                        <div class="col-3"><i class="fas fa-shopping-cart text_gradient"></i></div>
                        <div class="col-3 header__mobile-separator">
                            <i class="fas fa-align-justify text_gradient"></i>
                            <div class="iseeu_menu"></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5 text-center">
                    <div class="header__disclamer text_gradient">Продажа рекламно-сувенирной<br>продукции онлайн по всей России</div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="header__address d-block d-md-none">г. Москва, Зельев пер-к, д.11</div>
                    <div class="col-12">
                        <div class="row justify-content-end align-items-center">
                            <a href="tel:+74955850690" class="col-auto button-white black_color opensans"><i class="fas fa-mobile-alt"></i> +7 (495) 585 06 90</a>
                            <div class="col-auto header__basket"><i class="fas fa-shopping-cart"></i></div>
                        </div>
                    </div>


                </div>
            </div>

        </div>

    </div>
    <div class="header__menu d-none d-md-block">
        <div class="container">
            @@include('menu/header_menu.html')
        </div>
    </div>
</div>