@@include('breadcrumb.html')
<div class="container">
    <div class="row pb-5">
       <div class="col-12 col-md-8 col-xl-9">
            <div class="row no-gutters content">
               @@include('modules/order_form.html')
               <p class="remark">На сайте g-strela.ru минимальная сумма заказа 5000 руб.</p>
            </div>
        </div>
        <div class="aside col-12 col-md-4 col-xl-3 order-md-first">
            @@include('menu/left_block.html')
        </div>
    </div>
</div>