<section class="recommended_products tac">
	<div class="container">
		<h2 class="line_big mb-5">Рекомендуемые товары</h2>
		<div class="row products_list white_dots">
			<div class="col-12 col-md-6 col-lg-4 col-xl-3 item">
				<div class="img_block"><img src="img/products/recommend_1.jpg" alt=""></div>
				<div class="title line_sm">Толстовка с логотипом</div>
				<a href="#" class="btn_more mx-auto">Подробнее</a>
			</div>
			<div class="col-12 col-md-6 col-lg-4 col-xl-3 item">
				<div class="img_block"><img src="img/products/recommend_2.jpg" alt=""></div>
				<div class="title line_sm">Блокнот с логотипом</div>
				<a href="#" class="btn_more mx-auto">Подробнее</a>
			</div>
			<div class="col-12 col-md-6 col-lg-4 col-xl-3 item">
				<div class="img_block"><img src="img/products/recommend_3.jpg" alt=""></div>
				<div class="title line_sm">Кружка с логотипом</div>
				<a href="#" class="btn_more mx-auto">Подробнее</a>
			</div>
			<div class="col-12 col-md-6 col-lg-4 col-xl-3 item">
				<div class="img_block"><img src="img/products/recommend_2.jpg" alt=""></div>
				<div class="title line_sm">Блокнот с логотипом</div>
				<a href="#" class="btn_more mx-auto">Подробнее</a>
			</div>
			<div class="col-12 col-md-6 col-lg-4 col-xl-3 item">
				<div class="img_block"><img src="img/products/recommend_2.jpg" alt=""></div>
				<div class="title line_sm">Блокнот с логотипом</div>
				<a href="#" class="btn_more mx-auto">Подробнее</a>
			</div>
			<div class="col-12 col-md-6 col-lg-4 col-xl-3 item">
				<div class="img_block"><img src="img/products/recommend_1.jpg" alt=""></div>
				<div class="title line_sm">Толстовка с логотипом</div>
				<a href="#" class="btn_more mx-auto">Подробнее</a>
			</div>
			<div class="col-12 col-md-6 col-lg-4 col-xl-3 item">
				<div class="img_block"><img src="img/products/recommend_2.jpg" alt=""></div>
				<div class="title line_sm">Блокнот с логотипом</div>
				<a href="#" class="btn_more mx-auto">Подробнее</a>
			</div>
			<div class="col-12 col-md-6 col-lg-4 col-xl-3 item">
				<div class="img_block"><img src="img/products/recommend_3.jpg" alt=""></div>
				<div class="title line_sm">Кружка с логотипом</div>
				<a href="#" class="btn_more mx-auto">Подробнее</a>
			</div>
		</div>
		<div class="more tac mt-5"><a href="#">Подробнее</a></div>
	</div>
</section>