@@include('breadcrumb.html')
<div class="container">
    <div class="row pb-5">
       <div class="col-12 col-md-8 col-xl-9">
            <div class="row no-gutters content">
                <div class="list col-12">
                    <div class="row list__services">
                        <div class="col-12 col-xl-6 item mb-4">
                            <div class="wrap">
                                <div class="item-text px-3">
                                    <div class="row align-items-center pt-3 pb-2 no-gutters">
                                        <div class="h2 item_head underline half_line mb-3 col-12 col-md-6">Тампопечать</div>
                                        <a href="services.html" class="button gradient d-block col-12 col-md-6  my-2 my-md-0">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-6 item mb-4">
                            <div class="wrap">
                                <div class="item-text px-3">
                                    <div class="row align-items-center pt-3 pb-2 no-gutters">
                                        <div class="h2 item_head underline half_line mb-3 col-12 col-md-6">Тампопечать</div>
                                        <a href="services.html" class="button gradient d-block col-12 col-md-6  my-2 my-md-0">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-6 item mb-4">
                            <div class="wrap">
                                <div class="item-text px-3">
                                    <div class="row align-items-center pt-3 pb-2 no-gutters">
                                        <div class="h2 item_head underline half_line mb-3 col-12 col-md-6">Тампопечать</div>
                                        <a href="services.html" class="button gradient d-block col-12 col-md-6  my-2 my-md-0">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="aside col-12 col-md-4 col-xl-3 order-md-first">
            @@include('menu/left_block.html')
        </div>

    </div>
</div>