@@include('breadcrumb.html')
<div class="container">
    <div class="row pb-5">
       <div class="col-12 col-md-8 col-xl-9">
            <div class="row no-gutters content">
               <div class="col-12">
                   <div class="table_wrapper">
                           <table class="table table-striped">
                               <thead class="thead-light">
                               <tr>
                                   <td>количество</td>
                                   <td>002-002</td>
                                   <td>003-003</td>
                                   <td>004-004</td>
                                   <td>005-005</td>
                                   <td>006-006</td>
                                   <td>007-007</td>
                                   <td>008-008</td>
                                   <td>009-009</td>
                               </tr>
                               </thead>
                               <tbody>
                               <tr>
                                   <td>1 цвет</td>
                                   <td>002-0002</td>
                                   <td>003-0003</td>
                                   <td>004-0004</td>
                                   <td>005-0005</td>
                                   <td>006-0006</td>
                                   <td>007-0007</td>
                                   <td>008-0008</td>
                                   <td>009-0009</td>
                               </tr>
                               <tr>
                                   <td>2 цвета</td>
                                   <td>002-0002</td>
                                   <td>003-0003</td>
                                   <td>004-0004</td>
                                   <td>005-0005</td>
                                   <td>006-0006</td>
                                   <td>007-0007</td>
                                   <td>008-0008</td>
                                   <td>009-0009</td>
                               </tr>
                               <tr>
                                   <td>3 цвета</td>
                                   <td>002-0002</td>
                                   <td>003-0003</td>
                                   <td>004-0004</td>
                                   <td>005-0005</td>
                                   <td>006-0006</td>
                                   <td>007-0007</td>
                                   <td>008-0008</td>
                                   <td>009-0009</td>
                               </tr>
                               <tr>
                                   <td>CMYK</td>
                                   <td>002-0002</td>
                                   <td>003-0003</td>
                                   <td>004-0004</td>
                                   <td>005-0005</td>
                                   <td>006-0006</td>
                                   <td>007-0007</td>
                                   <td>008-0008</td>
                                   <td>009-0009</td>
                               </tr>
                               </tbody>
                           </table>
                       </div>
                   <div class="remark">
                       Стоимость в таблице указана за 1 ед.
                       Минимальная стоимость заказа рассчитывается из партии - 100 шт.
                   </div>
               </div>
            </div>
        </div>
        <div class="aside col-12 col-md-4 col-xl-3 order-md-first">
            @@include('menu/left_block.html')
        </div>
    </div>
</div>