@@include('breadcrumb.html')
<div class="container">
    <div class="row pb-5">
       <div class="col-12 col-md-8 col-xl-9">
            <div class="row no-gutters content">
                <div class="col-12 col-md-12 video single">
                    <iframe src="//www.youtube.com/embed/zGjpb5lw7AE"></iframe>
                </div>
                <div class="w-100"></div>
                <div class="col-12">
                    <h2 class="h2 underline my-4">Новая модель ежедневника на полузакрытой пружине</h2>
                    <p>Блокноты и ежедневники стали неотъемлемыми атрибутами делового человека. Блокноты используют для
                        заметок, рецептов, учета финансов и планирования. Ежедневники предназначены для ведения записей,
                        связанных с каждодневной деятельностью человека.</p>

                    <p>В современном мире блокноты и ежедневники – это необычные записные книжки, а бизнес-инструменты.
                        С помощью блокнота с логотипом можно недорого, но эффективно проинформировать целевую аудиторию
                        о вашем предприятии, создать и продвинуть собственный бренд. Блокнот и ежедневник с логотипом −
                        это стильный аксессуар, наличие которого не только ненавязчиво рекламирует, но и подчеркивает
                        статус человека.</p>
                    <ul>
                        <li>Первый пункт</li>
                        <li>Второй</li>
                        <li>Третий</li>
                        <li>Четвертый</li>
                    </ul>
                    <p class="remark">Блокноты и ежедневники стали неотъемлемыми атрибутами делового человека. Блокноты используют для заметок, рецептов, учета финансов и планирования. Ежедневники предназначены для ведения записей, связанных с каждодневной деятельностью человека.</p>
                </div>
                <div class="col-12 d-none d-md-block">
                    <a href="/" class="another_blue hover-tdn"><i class="fas fa-arrow-left"></i> Назад</a>
                </div>
            </div>
        </div>
        <div class="aside col-12 col-md-4 col-xl-3 order-md-first">
            @@include('menu/left_block.html')
        </div>

    </div>
</div>