@@include('breadcrumb.html')
<div class="container">
    <div class="row pb-5">
        <div class="col-12 col-md-8 col-xl-9">
            <div class="row no-gutters content">
                <div class="list col-12">
                    <div class="row list__video">
                        <div class="col-12 col-lg-6 col-xl-4 item mb-4">
                            <div class="wrap">
                                <div class="item-text px-3">
                                    <div class="item_head underline half_line mb-3">Новая модель ежедневника на полузакрытой пружине</div>
                                    <a href="video.html" class="video_play"><i class="fas fa-play"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-xl-4 item mb-4">
                            <div class="wrap">
                                <div class="item-text px-3">
                                    <div class="item_head underline half_line mb-3">Новая модель ежедневника на полузакрытой пружине</div>
                                    <a href="video.html" class="video_play"><i class="fas fa-play"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-xl-4 item mb-4">
                            <div class="wrap">
                                <div class="item-text px-3">
                                    <div class="item_head underline half_line mb-3">Новая модель ежедневника на полузакрытой пружине</div>
                                    <a href="video.html" class="video_play"><i class="fas fa-play"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-xl-4 item mb-4">
                            <div class="wrap">
                                <div class="item-text px-3">
                                    <div class="item_head underline half_line mb-3">Новая модель ежедневника на полузакрытой пружине</div>
                                    <a href="video.html" class="video_play"><i class="fas fa-play"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="aside col-12 col-md-4 col-xl-3 order-md-first">
                @@include('menu/left_block.html')
        </div>

    </div>
</div>